/* Testimonials Section Styles */
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.testimonials h1 {
  font-size: 2rem;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonials p,
.testimonial-col p {
  padding: 0;
  font-size: 1.1rem;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
  font-size: 1.5rem;
}

.stars {
  display: flex;
}

.filled-star {
  color: #f44336;
}

.empty-star {
  color: transparent;
  stroke: #f44336;
  stroke-width: 1;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}
